

<header class="page-header">
<h1>Admin Dashboard</h1>
</header>

<div class="panel panel-info">
  <div class="panel-heading"><%= link_to 'Total Products', "/admin/products" %></div>
  <div class="panel-body"><%=@products%></div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading"><%= link_to 'Total Categories', "/admin/products" %></div>
  <div class="panel-body"><%=@categories%></div>
</div>
